@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #09090b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, sans-serif;
}